body {
    font-family: Arial, serif;
    background-color: #4ba3cc;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

.square {
  width: 800px;
  height: 400px;
  background-color: #ffffff;
  align: center;
  margin: 0;
  padding: 20px;
}

h1 {
    font-size: 32px;
    font-weight: 500;
}

header {
    text-align: center;
    padding: 20px;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: #ffffff;
}