body {
    font-family: Arial, sans-serif;
    background-color: #4ba3cc;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

.square {
  width: 800px;
  min-height: 400px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
}

h1 {
    font-size: 32px;
    font-weight: 500;
}

header {
    text-align: center;
    padding: 20px;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: #ffffff;
}

table {
    color: #030213;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

td {
    color: #4ba3cc;  /* Your blue color */
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #2db38d;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

table ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

table li {
    margin-bottom: 8px;
}