body {
    font-family: Arial, sans-serif;
    background-color: #4ba3cc;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 32px;
    font-weight: 500;
}

header {
    text-align: center;
    padding: 20px;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: #717182;
}