{% extends 'base.html' %}

{% block content %}

    <form action="/results" method="POST">
        <p style="color: #4ba3cc">
            Song to GAME!
        </p>
        <h2 style="color: #4ba3cc">
            Enter a song to find your new favorite videogame
        </h2>
        <p>
            <input type = "text" id = "song" name = "song" placeholder="type in your song">
        </p>
        <p>
            <input type = "text" id = "artist" name = "artist" placeholder="artist name">
        </p>
        <p>
            <input type="submit" name="submit" value="Enter">
        </p>
    </form>
{% endblock %}
